<div class="container-fluid">
	<div class = "row">
		<div class="span6">	
			<table class="table">
				<tr><td></td><td><h1>
			<%=link_to @deck.name, deck_path(@deck) %>
						</h1></td></tr>
				<tr>	<td>
	<%= @rev.nil? ? "Deck created at:" : "Rev created at:" %>
	</td>
					<td>
	<%= @rev.nil? ? @deck.created_at : @rev.created_at%>
					</td>	
				</tr>
	<tr><td>Format:</td><td><%= @deck.format.nil? ? "":@deck.format %></td>
	</tr>
			<tr><td>Created by:</td><td>
<%= link_to @deck.user.name, user_path(@deck.user) %></td></tr>

			<tr><td>Revisions:</td><td>
			<% if @deck.revs.count >0 %>
				<% revCount = 0 %>
				<% @deck.revs.each do |t| %>
					<% revCount = revCount +1 %>
					<%= link_to revCount, 
						'/decks/'+@deck.id.to_s+'/revs/'+revCount.to_s,
						:class => 'btn btn-info', :title => t.name	%>
					 
				<% end %>
			<% else %>
				No Revisions.
			<% end %>
				</td></tr>
			<% if @deck.user == current_user %>
				<tr><td></td><td><%= link_to "Edit Deck", '/decks/'+@deck.id.to_s+'/edit',
				:method => "get", class: 	"btn btn-info btn-xs"%>
				</td></tr>
			<% end %>
			</table>
			<%= link_to "Add new Revision", '/decks/'+@deck.id.to_s+'/revs/new',
			:method => "get", class: 	"btn btn-primary"%>
			<br />
		</div>
	</div>
</div>

