<h1>Latest Decks/Changes</h1>
<% i = 0 %>
<div class="container-fluid">
  <div class="row">
	  <div class="col-md-6 ">
			<table class="table table-condensed">
				<tr>
		<th>Deckname</th><th>User</th><th>Latest Revisions</th><th>Last Update</th>
</tr>
				<% first = @decks.first %>
				<% curDeckId = first.deck_id %>
			<tr>
				<td><%= makeDeckLink( Deck.find(curDeckId))  %></td>
				<td><%= link_to first.user.name, rev_user_path(first) %></td>
				<td>
					<% tempLastUpdate = first.updated_at %>
	<% @decks.each do |t| %>
		<% if curDeckId != t.deck_id%>
			</td>
			<td>
			<%= time_ago_in_words(tempLastUpdate) %></td>
			<% curDeckId = t.deck_id %>
			</tr>
					
			<tr>
				<td><%= makeDeckLink(Deck.find(t.deck_id)) %></td>
				<td><%= link_to t.user.name, rev_user_path(t) %></td>
				<td>
		<% end %>
		<%= link_to t.rev_nr, '/decks/'+t.deck_id.to_s+'/revs/'+t.rev_nr.to_s, :class => 'btn btn-info btn-xs', :title => t.name %>
		<% tempLastUpdate = t.updated_at%>
	<% end %>
				</td><td><%= time_ago_in_words(tempLastUpdate) %></td></tr>
			</table>

    </div>
  </div>
</div>    

<h1>Latest Comments</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 ">
	    <% @comments.each do |f| %>
		      <div class="panel panel-primary small ">
		        <div class="panel-heading nomargin">
				<b><%= f.user.name %></b>,
				commented 
				<%= time_ago_in_words(f.created_at)%> ago 
				<% rev = Rev.find(f.rev_id) %> on the deck
				<b>				<%= Deck.find(rev.deck_id).name%></b>
			<%= link_to "go to deck", '/decks/'+rev.deck_id.to_s, :class => 'btn btn-info btn-xs' %>
			</div>
			<%= auto_link(f.text) %>
		      </div>
	    <% end %>
    </div>
  </div>
</div>    

<h1>Website Changelog</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
<div class ="panel panel-primary small">
        <div class="panel-heading nomargin">
                14.Aug 2018 - New sets added
        </div>
        All missing sets up to Commander 2018 were added.
</div>
<div class ="panel panel-primary small">
        <div class="panel-heading nomargin">
                5.Feb 2017 - New sets added
        </div>
        All missing sets up to AER were added.
</div>

<div class ="panel panel-primary small">
        <div class="panel-heading nomargin">
                18.Oct 2015 - DDO, DTK, TPR, MM2, ORI, V15, DDP, BFZ, EXP added 
        </div>
	All the above editions/sets were added.
</div>



<div class ="panel panel-primary small">
	<div class="panel-heading nomargin">
		21.Jan 2015 - Bugfixes, Mouseover, Deckview
	</div>
	Instead of sending SQL-errors an error message is sent whenever a user
	enters an non-valid deck/revision name. All revision buttons now have
	their revision name as mouseover text.<br />
	Instead of showing the latest revision (= highest number), the revision
	with the latest change is shown instead.
</div>

<div class ="panel panel-primary small">
	<div class="panel-heading nomargin">
		19.Jan 2015 - Newssite upate
	</div>
	Updated this news page to also show latest decks and comments.
</div>

<div class ="panel panel-primary small">
        <div class="panel-heading nomargin">
                17.Jan 2015 - Comparison
        </div>
	Comparison of decks now available. The page displaying a deck now
	contains a "compare" button, which leads to a second page where the second
	deck is selected.
</div>


<div class ="panel panel-primary small">
	<div class="panel-heading nomargin">
		17.Jan 2015 - Fate Reforged Added
	</div>
	All 163 new cards have been added to the database.
</div>

<div class ="panel panel-primary small">
	<div class="panel-heading nomargin">
		15.Jan 2015 - URL recognition
	</div>
	URLs in comments should be automatically recognized and printed with corresponding HTML-tags.
</div>

<div class ="panel panel-primary small">
	<div class="panel-heading nomargin">
		13. Jan 2015 - Comment
	</div>
	Comments have been added.
</div>

	</div>
	</div></div>
