
<% formatArray = { nil => 1000,
		   'Unspecified' => 999,
		   'Legacy' => 500,
		   'EDH' => 100,
		   'Pauper' => 150,
		   'PDH' => 160,
		   'Standard' => 200,
		   'Modern' => 300,
		   'Draft' => 900}
%>


<div class="container">
	<h1>List decks</h1>
	<%= link_to "Add new Deck", new_deck_path,
	       	:method => "get", class: 	"btn btn-primary"%>
	<br />
		
	<br />
<% formatArray.each do |x,y| %>
	<a href="#<%= x %>"><%=x%></a>
<% end %>

	<br />
	<br />

	<div class="col-md-6">
	<% currentFormat = "EDH" %>
	<a id="EDH"></a>
	<h4>EDH Decks</h4>
	<table class="table table-condensed">
	<tr>
	<th>Name</th><th>User</th><th>Latest Revisions</th><th>Last Update</th>

	<% @deck.sort_by{ |a| [1000-formatArray[a.format],updatedAt(a)] }.reverse.each do |t| %>
		<% if currentFormat != t.format %>
			<%  currentFormat = t.format  %>
			</table>
			<a id="<%= t.format%>" ></a>
			<h4><%= t.format %> Decks</h4>
			<table class="table table-condensed">
			<tr>
			<th>Name</th><th>User</th><th>Latest Revisions</th><th>Last Update</th>
			</tr>
		<% end %>
		<tr>
			<td><%= makeDeckLink(t) %></td>
			<td><%= link_to t.user.name, rev_user_path(t) %></td>
			<td>
				<% t.revs.last(5).each do |s| %>
					<%= link_to s.rev_nr, '/decks/'+t.id.to_s+'/revs/'+s.rev_nr.to_s, :class => 'btn btn-info', :title => s.name %>
				<% end %>

			</td>
			<td><%= time_ago_in_words(updatedAt(t)) %></td>
	</tr>
	<% end %>
	</table>
	</div>
</div>


