<%if @deck.nil?  %>
No such deck.
<% else %>
<%= render 'general/printDeckInfo' %>

<div class="container">

	<h3>Revision with latest change:
	<% if !@rev.nil?%>
		<%= link_to "Compare", "/revs/compare?firstDeck="+@rev.deck_id.to_s+"&firstRev="+@rev.rev_nr.to_s,class: "btn btn-info btn-xs" %>
		</h3>
	<%= render partial: "general/printPartialDeck", locals: {rev: @rev, 
				  deck: @deck, cards: @cards} %>
	<%= render 'general/commentForm'%>
	<%= render 'general/printComments'%>
<% else %>
	</h3>
<% end %>
</div>
<% end %>
