
<div class = "row">
	<div class="span6">	
		<header>
			<%= @deck.name %><br />
			<%= @deck.created_at %><br />
			<%= @deck.user.name %><br />
			<%= @cardCount %><br />
		</header>
		<div class ="row">
			<div class ="span3">
				<% @deck.revs.all.each do |r| %>
					<%= r.name %><br />
				<% end%>
			</div>
		</div>
		NEUESTE REV:
		<%= @deck.revs.last.name %>
</div>
	</div>
