<%= render 'general/printDeckInfo' %>

	<h3>Revision <%= @rev.rev_nr %>:
<%= link_to "Compare", "/revs/compare?firstDeck="+@rev.deck_id.to_s+"&firstRev="+@rev.rev_nr.to_s,class: "btn btn-info btn-xs" %>
<%= link_to "As Text", "/decks/"+@rev.deck_id.to_s+"/revs/"+@rev.rev_nr.to_s+"/export",class: "btn btn-info btn-xs" %>
	</h3> 

	<%= render partial: "general/printPartialDeck", locals: {rev: @rev, 
				  deck: @deck, cards: @cards} %>

	<%= render 'general/commentForm'%>
	<%= render 'general/printComments'%>
